<%- include('header'); -%>
    <div class="row ndpart">
        <img class="ndpart-image col-lg-6 col-sm-12" src="images/auth-doctor.jpg" alt="">
        <div class="col-lg-6 col-sm-12">
            <p class="ndpart-st-line">We Provide</p>
            <p class="ndpart-nd-line">Total Health Care</p>
            <p class="ndpart-rd-line col-lg-11">We provide a vast range of medical services, so every person could have the opportunity to receive high-quality medical help.</p>
            <p class="ndpart-fth-line col-lg-11">Caring Doc Medical Clinic is committed to providing the highest quality patient care. Our dedication to excellence, compassion and innovation is rooted in our devotion to the art and science of healing, which supports every aspect of our mission.</p>
            <p class="ndpart-fft-line">We do our best to help you and provide the highest level of health care.</p>
            <button type="button" class="btn btn-primary image-button2 btn-lg">LEARN MORE</button>
        </div>
    </div>
    <div class="image-writing">
        <img class="sthetoscope-image" src="images/sthetoscope.jpg" alt="sthetoscope-image">
        <div class="image-st-line">Get Online Consultation</div>
        <p class="immage-nd-line">In most cases, the initial consultation will be sufficient. In more complicated <br> cases, a second, follow-up consultation may be necessary. You can contact  <br> our center at any time and ask your questions. Our professional support <br> representative will gladly answer them.</p>
        <p class="img-3rd-line">Take the First Step to Help <span class="number">(800) 123 4567</span></p>
        <button type="button" class="btn btn-primary btn-lg rd-button">GET IN TOUCH</button>
    </div>
    <div>
        <div class="title-content">Our Medical Specialists</div>
        <div class="card-deck card-format">
            <div class="card col-sm-3">
                <img class="card-img-top" src="images/doctor1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title card-title-name">SARAH JHONSAN</p>
                  <i class="fas fa-mobile-alt fas-inf"> <span class="email-inf">CARDIOLOGIST</i>
                  <i class="fas fa-envelope fas-inf"><span class="email-inf">info@demolink.org</span> </i>
                </div>
              </div>
              <div class="card col-sm-3">
                <img class="card-img-top" src="images/doctor1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title card-title-name">MOHAN RASTOGI</p>
                  <i class="fas fa-mobile-alt fas-inf"> <span class="email-inf">EYE SPECILIST</i>
                  <i class="fas fa-envelope fas-inf"><span class="email-inf">info@demolink.org</span> </i>
                </div>
              </div>
              <div class="card col-sm-3">
                <img class="card-img-top" src="images/doctor1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title card-title-name">SHIVAM KUMAR</p>
                  <i class="fas fa-mobile-alt fas-inf"> <span class="email-inf">NEUROLOGIST</i>
                  <i class="fas fa-envelope fas-inf"><span class="email-inf">info@demolink.org</span> </i>
                </div>
              </div>
              <div class="card col-sm-3">
                <img class="card-img-top" src="images/doctor1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title card-title-name">RAMANAND PRASAD</p>
                  <i class="fas fa-mobile-alt fas-inf"> <span class="email-inf">GENERAL PHYSIAN</i>
                  <i class="fas fa-envelope fas-inf"><span class="email-inf">info@demolink.org</span> </i>
                </div>
              </div>
        </div>
    </div>
    <div class="image-rd">
        <div class="image-rd-1">
        <p class="par-description col-sm-4 offset-sm-7">What Our Client Says</p>
        <div id="carouselExampleControls " class="carousel slide coursel-item col-sm-4 offset-sm-7" data-ride="carousel">
            <div class="carousel-inner col-sm-10 offset-sm-1">
              <div class="carousel-item active">
                <p class="d-block w-100 para-item">I dealt with this pain and suffered from neuropathy for the better of eight years. Now with the wonderful, friendly, and very pleasant staff at Caring Doc treating me, I am much more active and pain-free. I recommend this clinic to all my friends and colleagues!</p>
              </div>
              <div class="carousel-item">
                <p class="d-block w-100 para-item">Before the food allergy test, I was having terrible sinus problems. Now after the test and getting my results I feel that wheat may have been at the root of those issues. I really feel ten times better without eating the foods from my results list, especially wheat. Thank you for the timely help you have provided!</p>
              </div>
              <div class="carousel-item">
                <p class="d-block w-100 para-item">I dealt with this pain and suffered from neuropathy for the better of eight years. Now with the wonderful, friendly, and very pleasant staff at Caring Doc treating me, I am much more active and pain-free. I recommend this clinic to all my friends and colleagues!</p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
    </div>
    <div>
        <p class="client-says">Latest News</p>
        <div class="card-deck card-format">
            <div class="card col-sm-4">
                <img class="card-img-top" src="images/doctor1.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="client-date">November 30, 2020</div>
                  <div class="client-talk">The Importance Of X-Rays</div>
                  <div class="client-notes">Annual X-ray diagnostics allow preventing diseases at early <br> stages and help doctors detect health issues. Today, we’ll <br> learn more about the importance of regular X-ray...</div>
                </div>
              </div>
              <div class="card col-sm-4">
                <img class="card-img-top" src="images/doctor1.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="client-date">December 1, 2020</div>
                  <div class="client-talk">Emergency Medicine</div>
                  <div class="client-notes">Emergency medicine is a medical specialty based on the <br> knowledge and skills required for the prevention, diagnosis <br> and management of acute and urgent aspects of illness...</div>
                </div>
              </div>
              <div class="card col-sm-4">
                <img class="card-img-top" src="images/doctor4.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="client-date">December 5, 2020</div>
                    <div class="client-talk">How to Find a Good doctor</div>
                    <div class="client-notes">Choosing a primary care doctor is one of the most <br> important health decisions you’ll make. More people than <br> ever are now searching for a physician they can call their...</div>
                  </div>
              </div>
              
        </div>

    </div>
    <div class="input-sector">
        
        <form action="/" method="post" class="input-sector-2 col-sm-10 offset-sm-1">
            <p class="input-sector-1">Make an Appointment</p>
            <br>
            <br>
            <input class="input-sector-3 col-sm-6" type="text" id="fname" name="fname" size="50"
                placeholder="FirstName & LastNmae";>
                <br>
                <br>
            <input class="input-sector-3 col-sm-6" type="email" id="email" name="email" placeholder="Email">
            <br><br>
            <input type="password" class="input-sector-3 col-sm-6" id="password" name="password" placeholder="Password">
            <br><br>
            <input type="submit"  value="Submit">
            <br><br>
        </form>

    </div>
    <%- include('footer'); -%>