<footer class=" footer-element">
    <div class="col-sm-10 offset-sm-1 row">
    <div class="card col-sm-3 footer-element-1 col">
        <div class="row">
            <i class="fas fa-stethoscope font-stethoscope-1"></i>
            <p class="footer-para">Caring Doc</p>
        </div>
        <div class="card-body col-sm-12">
          <p class="card-text footer-card-text-1">Caring Doc is a leading medical clinic providing the high quality healthcare services. With our team of caring, dedicated, and professional doctors and nurses, you are sure to stay safe and healthy at any time.</p>
        </div>
      </div>
      <div class="card col-sm-3 footer-element-3">
        <p class="footer-para">Our Location</p>
        <div class="card-body">
          <p class="card-text footer-card-text-1"></p>
        </div>
      </div><div class="card col-sm-3 footer-element-3">
        <p class="footer-para">Latest Post</p>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card col-sm-3 footer-element-4">
        <p class="footer-para">Quick Links</p>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    </footer>
</body>
</html>